@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Remover margens e paddings padrão */
/* Configuração para lidar com overflow */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Previne rolagem horizontal */
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  width: 100%;

  /* Solução para problema em dispositivos móveis */
  min-height: 100dvh;
  /* Dynamic viewport height, se suportado */
}
/* 
h1,
h2,
h3 {
  font-family: 'Open Sans';
} */